<ng-include src="'templates/partials/header-inner.html'"></ng-include>
<md-content layout-padding class="has-header">
 <form name="projectForm">
 	<md-input-container layout-padding>
     <label>Name</label>
     <input name="full_name" type="text" ng-model="comment.full_name">
   </md-input-container>
   <md-input-container layout-padding>
     <label>Email</label>
     <input name="email" type="email" ng-model="comment.email">
   </md-input-container>
   <md-input-container layout-padding>
     <label>Web Page</label>
     <input name="full_name" type="text" ng-model="comment.website">
   </md-input-container>
   <md-input-container layout-padding>
     <label>Comment</label>
     <textarea name="comment" ng-model = "comment.comment"></textarea>
   </md-input-container>
   <div flex="50">
     <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
       Notify me about new comments
     </md-checkbox>
   </div>
   <md-input-container>
      <md-button flex="100" md-ripple-size="full" class="md-raised md-primary">Post Comment</md-button>
   </md-input-container>
 </form>
</md-content>