<header md-page-header>
  <md-toolbar class="simple-header">
  		<div class="md-toolbar-tools">
    		<h3 class="md-toolbar-tools">Login</h3>
  		</div>
  </md-toolbar>
</header>
<md-content layout-padding class="has-header">
 	<form name="projectForm">
   	<md-input-container layout-padding>
     		<label>Email</label>
     		<input name="login" type="email" ng-model="login.email">
   	</md-input-container>
   	<md-input-container layout-padding>
     		<label>Password</label>
     		<input name="password" type="password" ng-model="login.password">
   	</md-input-container>
   	<md-input-container>
      	<md-button ng-click="loginAccount();" flex="100" md-ripple-size="full" class="md-raised md-primary">Login</md-button>
   	</md-input-container>
      <md-input-container>
      	<md-button ng-href="#/signup" flex="100" md-ripple-size="full" class="md-raised md-warn">Create Account</md-button>
   	</md-input-container>
 	</form>
</md-content>